<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="accounts">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>Accounts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="transfers">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>Transfers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="deposit">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Deposit</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
