

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-header>
          <ion-toolbar>
            <ion-title color="primary">deposit</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-header class="ion-padding">Add money</ion-header>
        <ion-item class="ion-padding">
          <ion-label position="floating">Enter Amount</ion-label>
          <ion-input type="number" #amount></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select placeholder="Select Account">
              <ion-select-option value="account1">account1</ion-select-option>
              <ion-select-option value="account2">account2</ion-select-option>
              <ion-select-option value="account3">account3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-button slot="end" (click)="addFunds()" fill="outline"
            >Add funds</ion-button
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
